
@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-Black.eot');
    src: local('RF Dewi Expanded Black'), local('RFDewiExpanded-Black'),
        url('RFDewiExpanded-Black.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-Black.woff2') format('woff2'),
        url('RFDewiExpanded-Black.woff') format('woff'),
        url('RFDewiExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-Ultrabold.eot');
    src: local('RF Dewi Expanded Ultrabold'), local('RFDewiExpanded-Ultrabold'),
        url('RFDewiExpanded-Ultrabold.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-Ultrabold.woff2') format('woff2'),
        url('RFDewiExpanded-Ultrabold.woff') format('woff'),
        url('RFDewiExpanded-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Bold.eot');
    src: local('RF Dewi Extended Bold'), local('RFDewiExtended-Bold'),
        url('RFDewiExtended-Bold.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-Bold.woff2') format('woff2'),
        url('RFDewiExtended-Bold.woff') format('woff'),
        url('RFDewiExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-BlackItalic.eot');
    src: local('RF Dewi Expanded Black Italic'), local('RFDewiExpanded-BlackItalic'),
        url('RFDewiExpanded-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-BlackItalic.woff2') format('woff2'),
        url('RFDewiExpanded-BlackItalic.woff') format('woff'),
        url('RFDewiExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Light.eot');
    src: local('RF Dewi Extended Light'), local('RFDewiExtended-Light'),
        url('RFDewiExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-Light.woff2') format('woff2'),
        url('RFDewiExtended-Light.woff') format('woff'),
        url('RFDewiExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Black.eot');
    src: local('RF Dewi Extended Black'), local('RFDewiExtended-Black'),
        url('RFDewiExtended-Black.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-Black.woff2') format('woff2'),
        url('RFDewiExtended-Black.woff') format('woff'),
        url('RFDewiExtended-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Regular.eot');
    src: local('RF Dewi Extended Regular'), local('RFDewiExtended-Regular'),
        url('RFDewiExtended-Regular.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-Regular.woff2') format('woff2'),
        url('RFDewiExtended-Regular.woff') format('woff'),
        url('RFDewiExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-UltralightItalic.eot');
    src: local('RF Dewi Extended Ultralight Italic'), local('RFDewiExtended-UltralightItalic'),
        url('RFDewiExtended-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-UltralightItalic.woff2') format('woff2'),
        url('RFDewiExtended-UltralightItalic.woff') format('woff'),
        url('RFDewiExtended-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-UltraboldItalic.eot');
    src: local('RF Dewi Extended Ultrabold Italic'), local('RFDewiExtended-UltraboldItalic'),
        url('RFDewiExtended-UltraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-UltraboldItalic.woff2') format('woff2'),
        url('RFDewiExtended-UltraboldItalic.woff') format('woff'),
        url('RFDewiExtended-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-UltralightItalic.eot');
    src: local('RF Dewi Expanded Ultralight Italic'), local('RFDewiExpanded-UltralightItalic'),
        url('RFDewiExpanded-UltralightItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-UltralightItalic.woff2') format('woff2'),
        url('RFDewiExpanded-UltralightItalic.woff') format('woff'),
        url('RFDewiExpanded-UltralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Italic.eot');
    src: local('RF Dewi Extended Italic'), local('RFDewiExtended-Italic'),
        url('RFDewiExtended-Italic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-Italic.woff2') format('woff2'),
        url('RFDewiExtended-Italic.woff') format('woff'),
        url('RFDewiExtended-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Ultrabold.eot');
    src: local('RF Dewi Extended Ultrabold'), local('RFDewiExtended-Ultrabold'),
        url('RFDewiExtended-Ultrabold.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-Ultrabold.woff2') format('woff2'),
        url('RFDewiExtended-Ultrabold.woff') format('woff'),
        url('RFDewiExtended-Ultrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-LightItalic.eot');
    src: local('RF Dewi Extended Light Italic'), local('RFDewiExtended-LightItalic'),
        url('RFDewiExtended-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-LightItalic.woff2') format('woff2'),
        url('RFDewiExtended-LightItalic.woff') format('woff'),
        url('RFDewiExtended-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Thin.eot');
    src: local('RF Dewi Extended Thin'), local('RFDewiExtended-Thin'),
        url('RFDewiExtended-Thin.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-Thin.woff2') format('woff2'),
        url('RFDewiExtended-Thin.woff') format('woff'),
        url('RFDewiExtended-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-BoldItalic.eot');
    src: local('RF Dewi Expanded Bold Italic'), local('RFDewiExpanded-BoldItalic'),
        url('RFDewiExpanded-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-BoldItalic.woff2') format('woff2'),
        url('RFDewiExpanded-BoldItalic.woff') format('woff'),
        url('RFDewiExpanded-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Semibold.eot');
    src: local('RF Dewi Extended Semibold'), local('RFDewiExtended-Semibold'),
        url('RFDewiExtended-Semibold.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-Semibold.woff2') format('woff2'),
        url('RFDewiExtended-Semibold.woff') format('woff'),
        url('RFDewiExtended-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-Regular.eot');
    src: local('RF Dewi Expanded Regular'), local('RFDewiExpanded-Regular'),
        url('RFDewiExpanded-Regular.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-Regular.woff2') format('woff2'),
        url('RFDewiExpanded-Regular.woff') format('woff'),
        url('RFDewiExpanded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-SemiboldItalic.eot');
    src: local('RF Dewi Extended Semibold Italic'), local('RFDewiExtended-SemiboldItalic'),
        url('RFDewiExtended-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-SemiboldItalic.woff2') format('woff2'),
        url('RFDewiExtended-SemiboldItalic.woff') format('woff'),
        url('RFDewiExtended-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-UltraboldItalic.eot');
    src: local('RF Dewi Expanded Ultrabold Italic'), local('RFDewiExpanded-UltraboldItalic'),
        url('RFDewiExpanded-UltraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-UltraboldItalic.woff2') format('woff2'),
        url('RFDewiExpanded-UltraboldItalic.woff') format('woff'),
        url('RFDewiExpanded-UltraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-Thin.eot');
    src: local('RF Dewi Expanded Thin'), local('RFDewiExpanded-Thin'),
        url('RFDewiExpanded-Thin.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-Thin.woff2') format('woff2'),
        url('RFDewiExpanded-Thin.woff') format('woff'),
        url('RFDewiExpanded-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-Semibold.eot');
    src: local('RF Dewi Expanded Semibold'), local('RFDewiExpanded-Semibold'),
        url('RFDewiExpanded-Semibold.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-Semibold.woff2') format('woff2'),
        url('RFDewiExpanded-Semibold.woff') format('woff'),
        url('RFDewiExpanded-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-LightItalic.eot');
    src: local('RF Dewi Expanded Light Italic'), local('RFDewiExpanded-LightItalic'),
        url('RFDewiExpanded-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-LightItalic.woff2') format('woff2'),
        url('RFDewiExpanded-LightItalic.woff') format('woff'),
        url('RFDewiExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-ThinItalic.eot');
    src: local('RF Dewi Expanded Thin Italic'), local('RFDewiExpanded-ThinItalic'),
        url('RFDewiExpanded-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-ThinItalic.woff2') format('woff2'),
        url('RFDewiExpanded-ThinItalic.woff') format('woff'),
        url('RFDewiExpanded-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}


@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-Light.eot');
    src: local('RF Dewi Expanded Light'), local('RFDewiExpanded-Light'),
        url('RFDewiExpanded-Light.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-Light.woff2') format('woff2'),
        url('RFDewiExpanded-Light.woff') format('woff'),
        url('RFDewiExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-Italic.eot');
    src: local('RF Dewi Expanded Italic'), local('RFDewiExpanded-Italic'),
        url('RFDewiExpanded-Italic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-Italic.woff2') format('woff2'),
        url('RFDewiExpanded-Italic.woff') format('woff'),
        url('RFDewiExpanded-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-SemiboldItalic.eot');
    src: local('RF Dewi Expanded Semibold Italic'), local('RFDewiExpanded-SemiboldItalic'),
        url('RFDewiExpanded-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-SemiboldItalic.woff2') format('woff2'),
        url('RFDewiExpanded-SemiboldItalic.woff') format('woff'),
        url('RFDewiExpanded-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-BoldItalic.eot');
    src: local('RF Dewi Extended Bold Italic'), local('RFDewiExtended-BoldItalic'),
        url('RFDewiExtended-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-BoldItalic.woff2') format('woff2'),
        url('RFDewiExtended-BoldItalic.woff') format('woff'),
        url('RFDewiExtended-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-BlackItalic.eot');
    src: local('RF Dewi Extended Black Italic'), local('RFDewiExtended-BlackItalic'),
        url('RFDewiExtended-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-BlackItalic.woff2') format('woff2'),
        url('RFDewiExtended-BlackItalic.woff') format('woff'),
        url('RFDewiExtended-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-Ultralight.eot');
    src: local('RF Dewi Expanded Ultralight'), local('RFDewiExpanded-Ultralight'),
        url('RFDewiExpanded-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-Ultralight.woff2') format('woff2'),
        url('RFDewiExpanded-Ultralight.woff') format('woff'),
        url('RFDewiExpanded-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-Ultralight.eot');
    src: local('RF Dewi Extended Ultralight'), local('RFDewiExtended-Ultralight'),
        url('RFDewiExtended-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-Ultralight.woff2') format('woff2'),
        url('RFDewiExtended-Ultralight.woff') format('woff'),
        url('RFDewiExtended-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi Extended';
    src: url('RFDewiExtended-ThinItalic.eot');
    src: local('RF Dewi Extended Thin Italic'), local('RFDewiExtended-ThinItalic'),
        url('RFDewiExtended-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExtended-ThinItalic.woff2') format('woff2'),
        url('RFDewiExtended-ThinItalic.woff') format('woff'),
        url('RFDewiExtended-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'RF Dewi Expanded';
    src: url('RFDewiExpanded-Bold.eot');
    src: local('RF Dewi Expanded Bold'), local('RFDewiExpanded-Bold'),
        url('RFDewiExpanded-Bold.eot?#iefix') format('embedded-opentype'),
        url('RFDewiExpanded-Bold.woff2') format('woff2'),
        url('RFDewiExpanded-Bold.woff') format('woff'),
        url('RFDewiExpanded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

